.footer{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.large-group{
    
    padding: 2px;
    display: flex;
    flex-direction: column;

    >span{
        font-size: 2.4rem;
        color: gray;
        font-weight: 600;
        border-bottom: 1px solid rgb(5, 5, 5);

    }
}

.small-group{
    margin-top: 2rem;
    color: black;
    padding: 2px;
    display: flex;
    flex-direction: column;

    >span{
        font-size: 12px;
        padding-top:4px ;
        padding-bottom:4px; 
        color: rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
    }
}

.small-group-menu{
    margin-top: 9rem;
    font-size: 12px;
    padding-top:4px ;
    padding-bottom:4px; 
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}



.policy{
    margin-top: 2rem;
}

.des-1{
    margin-top: 1rem;
    font-size: 12px;
}

.des-2{
font-size: 12px;
}