



@font-face {
  font-family: 'bruh';
  src: url('../../public/bruh12.otf');
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'bruh';
  font-weight: 900;
 
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 auto px;

    background-color: rgb(255, 255, 255);
    color: white;
  
    width: 100%;

  
   position: relative;

  
    .nav-links {
      list-style: none;
      display: flex;
      gap: 28rem;
      margin: 0 ;
      padding: 0;
      padding-inline-start: 0px;
    unicode-bidi: isolate;
    width: 100%;
  
      li {
        margin: 0;
        position: relative;
        width: 100%;
        
        a {
          color: black;
          text-decoration: none;
          font-size: 35px;
        
          width: 100%;
          text-align: center;
          &:hover {
            text-decoration: underline;
          }
        }
  
        .dropdown-menu {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0%;
          right: 0%;
          background-color: rgb(255, 255, 255);
         
          z-index: 6666;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
 


          button{
            position: fixed;
            top: 6%;
            right: 6%;
          }
         
  
          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center ;
            padding: 20px;
           
            margin-bottom: 1rem;
            
  
            li {
              padding: 0px;
              
              a {
                display: flex;
                color: black;
                text-decoration: none;
                font-size: 140px;
                
                line-height: 7.0rem;
             
                width: 100%;
                height: 100%;
                transition: color 0.1s ease, border-color 0.1s ease;
                padding-left: 10px;
                padding-right: 10px;
                justify-content: center;
                align-items: center;
            
                &:hover {
                  color: transparent;
                  -webkit-text-stroke: 1px black;
                }
              }
          
            }
          }

         
        }
      }
    }
  }
  

  @media (max-width: 768px) {
     

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
  color: white;
  width: 100%;
  position:relative;

  .nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
   
   
   unicode-bidi: isolate;

    li {
     
      position: relative;

      a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: 900;

        &:hover {
          text-decoration: underline;
        }
      }

      .dropdown-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0%;
        right: 0%;
        background-color: rgb(255, 255, 255);
        overflow-y: hidden;
        overflow-x: hidden;
        z-index: 6666;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
     
        button{
          position: fixed;
          top: 6%;
          right: 6%;
          background-color: white;
          color: black;
          width: 60px;
      
         
        }
       

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center ;
     
          
          margin-bottom: 1rem;
          

          li {
            padding: 0px;
            a {
              color: black;
              text-decoration: none;
              font-size: 75px;
            
              line-height: 4.0rem;
              letter-spacing: -.015em;
            
           
            
              transition: color 0.5s ease, border-color 0.5s ease;

              &:hover {
                color: transparent;
                -webkit-text-stroke: 1px rgb(0, 0, 0);
              }
            }
        
          }
        }

       
      }
    }
  }
}
  }