/* src/Projects.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .projects-container {
    position: relative;
    height: 400vh; /* to allow scrolling */
    overflow-y: none;
  }
  
  .project-card {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1.5s ease, opacity 1.5s ease;
    background-color: white;
    margin: 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: none;
  }
  
  .project-1 {
    background-color: #3c1ae8;
  }
  
  .project-2 {
    background-color: #30d60f;
  }
  
  .project-3 {
    background-color: #d0d612;
  }
  
  .project-4 {
    background-color: #515151;
  }
  
  .project-card:not(:first-child) {
    opacity: 0;
    transform: translateY(0%);
  }
  
  .project-card.show {
    opacity: 1;
    transform: translateY(0%);
  }
  

  @media only screen and (max-width: 600px) {
    .projects-container {
      position: relative;
      height: 400vh; /* to allow scrolling */
    }
    
  }