/* src/Projects.css */

  

  
  .title{
    padding-top: 3rem;
    font-size: 2rem;
  }

  .des{
    padding-top: 2rem;
    font-size: 0.8rem;
  }
 
  .name{
    padding-top: 1rem ;
    font-size: 2rem;
  }

  .desc-1{
  margin-top: 2rem;
  font-size: 0.8rem;
  
  }
  




  .projects-container {
    position: relative;
    height: 600vh; /* to allow scrolling */
    width: 100%;
    overflow-y: none;
  }
  
  .project-card {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: rgba(245, 245, 246, 1);
    padding: 20px;
    margin: 0;
    width: 100%;
    box-shadow: 0 2px 3px rgba(222, 216, 216, 0.1);
    z-index: 1;
  }
  
  .project-card.show {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .project-card.fade-out {
    opacity: 0.3;
  }
  
  .project-card.fade-out-one {
    opacity: 0;
  }
  
  .project-card img {
    width: 25%;
    height: 50%;
    margin-top: 1rem;
    display: flex;
    align-self: center;
    background-color: #486ba4;
  }
  
  @media only screen and (max-width: 600px) {
    .projects-container {
      height: 600vh;
    }
  
    .project-card img {
      width: 100%;
      height: auto;
    }
  }



  /* src/Projects.css */

  
  