/* src/Projects.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .projects-container {
    position: relative;
    height: 900vh; /* to allow scrolling */
    overflow-y: none;
  }
  
  .project-card {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: white;
    margin: 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .project-1 {
    background-color: #e81a1d;
    >h2{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }

    >img{
       width:300px;
    }

    >p{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }
  }
  
  .project-2 {
    background-color: #30d60f;

    >h2{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }

    >img{
       width: 300px;
    }

    >p{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }
  }
  
  .project-3 {
    background-color: #d0d612;
    >h2{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }

    >img{
       width: 300px;
    }

    >p{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }
  }
  
  .project-4 {
    background-color: #1120a9;
    >h2{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }

    >img{
      width: 300px;
    }

    >p{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }
  }


  .project-5 {
    background-color: #065638;
    >h2{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }

    >img{
      width: 300px;
    }

    >p{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }
  }


  .project-6 {
    background-color: #e8771a;
    >h2{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }

    >img{
      width: 300px;
    }

    >p{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }
  }


  .project-7 {
    background-color: #ec28cf;
    >h2{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }

    >img{
      width: 300px;
    }

    >p{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }
  }


  .project-8 {
    background-color: #486ba4;
    >h2{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }

    >img{
      width: 300px;
    }

    >p{
      font-size: 60px;
      font-family:  Helvetica, sans-serif;
      font-weight: 900;
      line-height: 3rem;
      letter-spacing: -.05em;
    }
  }
  
  .project-card:not(:first-child) {
    opacity: 0;
    transform: translateY(0%);
  }
  
  .project-card.show {
    opacity: 1;
    transform: translateY(0%);
  }
  

  @media only screen and (max-width: 600px) {
    .projects-container {
      position: relative;
      height: 900vh; /* to allow scrolling */
      width: 100vw;
    }
    
  }