.text-reveal-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
  }
  
  .text-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    margin: 10px 0;
  }
  
  .text-reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
  

  .ex{
  
    font-size: 3rem;
  }

  .ex-one{
    height: 8rem;
    z-index: -2;
    position: relative;
  }

  .para-po{
    margin-top: 30px;
  }