.text-reveal-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245,245,246,255);
  }
  
  .text-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    margin: 10px 0;
  }
  
  .text-reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
  

  .ex{
    background-color: (245,245,246,255);
    font-size: 8rem;
    position: relative;
    
   
  }

  .ex-one{
    height: 8rem;
    display: flex;
    flex-direction: row;
    background-color: rgba(245,245,246,255);
    padding-left: 10px;
    letter-spacing: -0.5em;

    >img{
      height: 100px;
      padding-top: 20px;
    }
  }

  .sde{
    padding-left: 20px;
    background-color: rgba(245,245,246,255);
  }

 
  .touch-img{
    width: 40px;
    margin-right: 20rem;
    margin-top: 10rem;
  }